In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('Advertising.csv')

In [3]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [4]:
df.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [5]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [6]:
x = df[['TV', 'Radio', 'Newspaper']]
y = df[['Sales']]

In [7]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [8]:
y

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3)

In [10]:
x_train

        TV  Radio  Newspaper
100  222.4    4.3       49.8
190   39.5   41.1        5.8
115   75.1   35.0       52.7
169  284.3   10.6        6.4
131  265.2    2.9       43.0
..     ...    ...        ...
142  220.5   33.2       37.9
195   38.2    3.7       13.8
119   19.4   16.0       22.3
187  191.1   28.7       18.2
133  219.8   33.5       45.1

[140 rows x 3 columns]

In [11]:
x_test

        TV  Radio  Newspaper
20   218.4   27.7       53.4
122  224.0    2.4       15.6
42   293.6   27.7        1.8
68   237.4   27.5       11.0
93   250.9   36.5       72.3
12    23.8   35.1       65.9
140   73.4   17.0       12.9
10    66.1    5.8       24.2
159  131.7   18.4       34.6
70   199.1   30.6       38.7
32    97.2    1.5       30.0
21   237.4    5.1       23.5
144   96.2   14.8       38.9
192   17.2    4.1       31.6
167  206.8    5.2       19.4
165  234.5    3.4       84.8
5      8.7   48.9       75.0
25   262.9    3.5       19.5
161   85.7   35.8       49.3
136   25.6   39.0        9.3
71   109.8   14.3       31.7
175  276.9   48.9       41.8
40   202.5   22.3       31.6
45   175.1   22.5       31.5
82    75.3   20.3       32.5
125   87.2   11.8       25.9
177  170.2    7.8       35.2
164  117.2   14.7        5.4
43   206.9    8.4       26.4
91    28.6    1.5       33.0
102  280.2   10.1       21.4
0    230.1   37.8       69.2
176  248.4   30.2       20.3
15   195.4   47.7       52.9
37    74.7   49.4       45.7
1     44.5   39.3       45.1
123  123.1   34.6       12.4
17   281.4   39.6       55.8
63   102.7   29.6        8.4
73   129.4    5.7       31.3
145  140.3    1.9        9.0
9    199.8    2.6       21.2
109  255.4   26.9        5.5
36   266.9   43.8        5.0
96   197.6    3.5        5.9
186  139.5    2.1       26.6
97   184.9   21.0       22.0
19   147.3   23.9       19.1
99   135.2   41.7       45.9
47   239.9   41.5       18.5
61   261.3   42.7       54.7
16    67.8   36.6      114.0
57   136.2   19.2       16.6
66    31.5   24.6        2.2
80    76.4   26.7       22.3
147  243.2   49.0       44.3
110  225.8    8.2       56.5
185  205.0   45.1       19.6
48   227.2   15.8       49.9
65    69.0    9.3        0.9

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [16]:
model.coef_

array([[ 0.04333344,  0.19301695, -0.00106856]])

In [17]:
model.intercept_

array([3.25409139])

In [ ]:
model.score(